table.display .sorting_asc {
	background: url('../js/datatables/media/images/sort_asc.png') no-repeat center right;
}
table.display .sorting_desc {
	background: url('../js/datatables/media/images/sort_desc.png') no-repeat center right;
}
table.display .sorting {
	background: url('../js/datatables/media/images/sort_both.png') no-repeat center right;
}
table.display .sorting_asc_disabled {
	background: url('../js/datatables/media/images/sort_asc_disabled.png') no-repeat center right;
}
table.display .sorting_desc_disabled {
	background: url('../js/datatables/media/images/sort_desc_disabled.png') no-repeat center right;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
table.display tr.odd.gradeA {
	background-color: #ddffdd;
}
table.display tr.even.gradeA {
	background-color: #eeffee;
}
table.display tr.odd.gradeA {
	background-color: #ddffdd;
}
table.display tr.even.gradeA {
	background-color: #eeffee;
}
table.display tr.odd.gradeC {
	background-color: #ddddff;
}
table.display tr.even.gradeC {
	background-color: #eeeeff;
}
table.display tr.odd.gradeX {
	background-color: #ffdddd;
}
table.display tr.even.gradeX {
	background-color: #ffeeee;
}
table.display tr.odd.gradeU {
	background-color: #ddd;
}
table.display tr.even.gradeU {
	background-color: #eee;
}
tr.odd {
	background-color: #E2E4FF;
}
tr.even {
	background-color: white;
}
table.display tfoot tr th {
    background-color: #FFF;
    border: none;
    border-right: 1px solid #CBCBCB;
/*    border-top: 1px solid #A9A9A9;*/
}
table.display thead tr th {
    border-bottom: 1px solid #A9A9A9;
	cursor: pointer;
	*cursor: hand;
}
table.display {
    border: none;
}
table.display tr td.actions, table.display tr th.actions {
    border-right: none;
}
.dataTables_wrapper {
	position: relative;
	clear: both;
}

.dataTables_processing {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 11px;
	padding: 2px 0;
}

.dataTables_length {
	width: 40%;
	float: left;
    font-size: 100%;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 50%;
	float: left;
}

.dataTables_paginate {
	float: right;
	text-align: right;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
    float: right;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}


/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
table.display tr.odd td.sorting_1 {
	background-color: #D3D6FF;
}

table.display tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

table.display tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

table.display tr.even td.sorting_1 {
	background-color: #EAEBFF;
}

table.display tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

table.display tr.even td.sorting_3 {
	background-color: #F9F9FF;
}


/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
table.display tr.odd.gradeA td.sorting_1 {
	background-color: #c4ffc4;
}

table.display tr.odd.gradeA td.sorting_2 {
	background-color: #d1ffd1;
}

table.display tr.odd.gradeA td.sorting_3 {
	background-color: #d1ffd1;
}

table.display tr.even.gradeA td.sorting_1 {
	background-color: #d5ffd5;
}

table.display tr.even.gradeA td.sorting_2 {
	background-color: #e2ffe2;
}

table.display tr.even.gradeA td.sorting_3 {
	background-color: #e2ffe2;
}

table.display tr.odd.gradeC td.sorting_1 {
	background-color: #c4c4ff;
}

table.display tr.odd.gradeC td.sorting_2 {
	background-color: #d1d1ff;
}

table.display tr.odd.gradeC td.sorting_3 {
	background-color: #d1d1ff;
}

table.display tr.even.gradeC td.sorting_1 {
	background-color: #d5d5ff;
}

table.display tr.even.gradeC td.sorting_2 {
	background-color: #e2e2ff;
}

table.display tr.even.gradeC td.sorting_3 {
	background-color: #e2e2ff;
}

table.display tr.odd.gradeX td.sorting_1 {
	background-color: #ffc4c4;
}

table.display tr.odd.gradeX td.sorting_2 {
	background-color: #ffd1d1;
}

table.display tr.odd.gradeX td.sorting_3 {
	background-color: #ffd1d1;
}

table.display tr.even.gradeX td.sorting_1 {
	background-color: #ffd5d5;
}

table.display tr.even.gradeX td.sorting_2 {
	background-color: #ffe2e2;
}

table.display tr.even.gradeX td.sorting_3 {
	background-color: #ffe2e2;
}

table.display tr.odd.gradeU td.sorting_1 {
	background-color: #c4c4c4;
}

table.display tr.odd.gradeU td.sorting_2 {
	background-color: #d1d1d1;
}

table.display tr.odd.gradeU td.sorting_3 {
	background-color: #d1d1d1;
}

table.display tr.even.gradeU td.sorting_1 {
	background-color: #d5d5d5;
}

table.display tr.even.gradeU td.sorting_2 {
	background-color: #e2e2e2;
}

table.display tr.even.gradeU td.sorting_3 {
	background-color: #e2e2e2;
}


/*
 * Row highlighting example
 */
table.display tr.even:hover, table.display tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

table.display tr.odd:hover, table.display tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}
